/* Message Box */
.message-box {
	display: block;
	background-color: var(--color-green-10);
	color: var(--color-gray-90);
	margin: 2rem 0;
	padding: 1rem;
	border: 1px solid var(--color-green-20);
	border-radius: 12px;
}
.message-box ol {
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #082840;
	}
}
