---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<img src="/img/birch-trees.jpg" alt="Birch trees in a forest" />

<h1>Branches Conference 2024</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur porttitor ornare. Donec pulvinar neque sed mauris tristique, ut condimentum turpis consequat. Morbi condimentum, metus eget rhoncus interdum, erat ipsum porta enim, vitae eleifend nulla lacus sed turpis. Maecenas quis orci lorem. Aenean rhoncus venenatis pharetra. Morbi et ultrices justo, eu sodales diam. Nullam et ex massa. Maecenas euismod tempor arcu, vitae venenatis enim dictum eget. In dictum iaculis lectus sit amet commodo.</p>

<p><strong><a href="#register">Register Today!</a></strong></p>

<h2>Schedule</h2>

<ul class="schedule-list">
	<li class="schedule-list-item">Welcome</li>
</ul>

<h2>FAQs</h2>

<ul>
	<li>Who is Branches Conference for?</li>
	<li>What should I bring to the conference?</li>
	<li>Where is the conference located?</li>
</ul>

<h2 id="register">Register</h2>

{#
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest Update{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}
#}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
