---
layout: layouts/base.njk
eleventyNavigation:
  key: Schedule
  order: 2
---
<div class="table-wrapper mb-8" tabindex="0" role="group" aria-labelledby="content">
  <table>
    <caption>
      <h1>{{ schedule.year }} Agenda</h1>
    </caption>
    <thead>
      <tr>
        <th>Time</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for item in schedule.agenda %}
      <tr>
        <td>{{ item.time }}</td>
        <td>{% if item.title %}{{ item.title }}{% endif %}</td>
      </tr>
    {% endfor %}
    <tbody>
  </table>
</div>

<h2 id="sessions">Sessions</h2>

<h3>Breakout #1 (10:20am-11:00am)</h3>
<ul>
  <li>
    <h4 class="mb-0"><strong>Word & Image</strong></h4>
    <p class="mt-0 mb-0">We are God’s art, we are God’s story, made in God’s image, and called to pursue the good, true, and beautiful. But what does that look like? How can writers and artists practically glorify God in and through their work? In this session, Luke shares a little on the why and how we should seek to make are as Christians, using children's books illustration and writing as a practical example.</p>
    <p class="mt-2 italic">
      <span>Presenter: Luke Murray</span><br>
      <span>Topic: Writing, Art</span>
    </p>
  </li>
  <li>
    <h4 class="mb-0"><strong>The Role of Beauty in God's Plan for the World</strong></h4>
    <p class="mt-0 mb-0">A conversation based around how the creation mandate and the great commission are a call to creative discipleship. How does music shape what we love and how we intuitively see the world around us? What is the purpose of music in God's plan for the world? What is the future of music?</p>
    <p class="mt-2 italic">
      <span>Presenter: Jon Baker</span><br>
      <span>Topic: Music</span>
    </p>
  </li>
</ul> 

<h3>Breakout #2 (11:20am-12:00pm)</h3>
<ul>
  <li>
    <h4 class="mb-0"><strong>Vintage Pressed Flower Design</strong></h4>
    <p class="mt-0 mb-0">Pressed flower art between glass, and beginning collaborative art painting acrylic. A materials fee ($10/small, $20/large frame) will be collected day of the conference.<br><a href="/img/session-examples/vintage-pressed-flowers-example.jpg" target="_blank">See examples here</a></p>
    <p class="mt-2 italic">
      <span>Presenter: Melissa Hicks</span><br>
      <span>Topic: Art</span>
    </p>
  </li>
  <li>
    <h4 class="mb-0"><strong>Who Needs Notes?</strong></h4>
    <p class="mt-0 mb-0">Practical music theory, hints and tips to help pianists and keyboardists play confidently from chord charts and lead sheets.</p>
    <p class="mt-2 italic">
      <span>Presenter: Alice Corbett</span><br>
      <span>Topic: Music</span>
    </p>
  </li>
  <li>
    <h4 class="mb-0"><strong>Diving into Historical Research</strong></h4>
    <p class="mt-0 mb-0">Tips and tricks to help you get on track with the research necessary for a historical novel (this session - author will be via Zoom).</p>
    <p class="mt-2 italic">
      <span>Presenter: Anna Rose Johnson</span><br>
      <span>Topic: Writing</span>
    </p>
  </li>
</ul> 

<h3>Breakout #3 (1:30pm-2:45pm)</h3>
<ul>
  <li>
    <h4 class="mb-0"><strong>Let The Water Work</strong></h4>
    <p class="mt-0 mb-0">Hands on workshop in watercolor techniques/masking for dynamic backgrounds and light effects.</p>
    <p class="mt-2 italic">
      <span>Presenter: Melissa Hicks</span><br>
      <span>Topic: Art</span>
    </p>
  </li>
  <li>
    <h4 class="mb-0"><strong>Collaborative Songwriting Workshop</strong></h4>
    <p class="mt-0 mb-0">Are you a poet or musician interested in songwriting? Whether you're a seasoned songwriter looking to help others or a novice with fresh ideas, we'll offer tips on working together, break into groups to develop song concepts, and share our creative "lightbulb moments." Feel free to bring your own ideas. We will also provide a writing prompt to inspire collaboration.</p>
    <p class="mt-2 italic">
      <span>Presenter: Matt Litzinger & Matt Wheeler</span><br>
      <span>Topic: Music</span>
    </p>
  </li>
  <li>
    <h4 class="mb-0"><strong>Prayers, Plans, and Pivots: Simple and Effective Tools to Actually Write the Thing</strong></h4>
    <p class="mt-0 mb-0">Learn how the "PIVOT" model can be an encouragement along the path of our creative Kingdom work.</p>
    <p class="mt-2 italic">
      <span>Presenter: Kelsey Domeny</span><br>
      <span>Topic: Writing</span>
    </p>
  </li>
</ul> 

