---
layout: layouts/base.njk
eleventyNavigation:
  key: Schedule
  order: 2
---
<div class="table-wrapper" tabindex="0" role="group" aria-labelledby="content">
  <table>
    <caption>
      <h1>{{ schedule.year }} Schedule</h1>
    </caption>
    <thead>
      <tr>
        <th>Time</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for item in schedule.agenda %}
      <tr>
        <td>{{ item.time }}</td>
        <td>{% if item.title %}{{ item.title }}{% endif %}</td>
      </tr>
    {% endfor %}
    <tbody>
  </table>
</div>

<h2>Keynote Speaker</h2>

<div class="flexbox">

  <img src="/img/rebecca-matthews.jpg" alt="Rebecca Matthews headshot" width="160" />

  <div>
    <h3>Rebecca L. Matthews</h3>
    <p>Rebecca L. Matthews’ passion to encourage others in a faith that moves mountains led to the publication of three novels (The Light Within, 2011; Marie’s Watch, 2014; and The Truth Will Set You Free, 2016) and three children’s books (Little Birch Finds Peace, 2015, Raindrops and Snowflakes, 2016; and Sol and the Boy, 2016).</p>
    <p>Mother to five grown children, she and her husband, Chris, run a vinyl record shop (Chris’s Nostalgia Shop) and a plumbing business in Whitefield, NH, where Rebecca continues to write blogs, social media posts, and manuscripts.</p>
    <p>For more, check out her website at <a href="http://rebeccalmatthews.com" target="_blank">rebeccalmatthews.com</a>.</p>
  </div>

</div>

