---
layout: layouts/base.njk
eleventyNavigation:
  key: Speakers
  order: 3
---
<h1>2026 Presenters</h1>

<div class="presenters-grid">

  {% for item in speakers %}
    <div class="flexbox">
      <img src="{{ item.avatar_url }}" alt="{{ item.first_name }} {{ item.last_name }} headshot" width="100" />
      <div>
        <h3 class="mb-0">{{ item.first_name }} {{ item.last_name }}</h3>
        <p class="mt-2 mb-2"><em>{{ item.title }}</em></p>
        {% if item.website_url %}
          <p class="mt-2 mb-2"><a href="{{ item.website_url }}" target="_blank">{{ item.first_name }}'s Website</a></p>
        {% endif %}
      </div>
    </div>
  {% endfor %}

</div>

