---
layout: layouts/base.njk
eleventyNavigation:
  key: Presenters
  order: 2
---
<h1>2025 Presenters</h1>

<div class="presenters-grid">

  <div class="flexbox hide">
    <img src="/img/headshots/headshot_placeholder_female.jpg" alt="Jessica Claiter headshot" width="100" />
    <div>
      <h3 class="mb-0">Jessica Claiter</h3>
      <p class="mt-2 mb-2"><em>Writer</em></p>
    </div>
  </div>

  <div class="flexbox">
    <img src="/img/headshots/alice_corbett_headshot.jpg" alt="Alice Corbett headshot" width="100" />
    <div>
      <h3 class="mb-0">Alice Corbett</h3>
      <p class="mt-2 mb-2"><em>Pianist</em></p>
    </div>
  </div>

  <div class="flexbox">
    <img src="/img/headshots/kelsey_domeny_headshot.jpg" alt="Kelsey Domeny headshot" width="100" />
    <div>
      <h3 class="mb-0">Kelsey Domeny</h3>
      <p class="mt-2 mb-2"><em>Speaker/Author</em></p>
      <p class="mt-2 mb-2"><a href="https://nextbestyes.com" target="_blank">Kelsey's Website</a></p>
    </div>
  </div>

  <div class="flexbox">
    <img src="/img/headshots/melissa_hicks_headshot.jpg" alt="Melissa Hicks headshot" width="100" />
    <div>
      <h3 class="mb-0">Melissa Hicks</h3>
      <p class="mt-2 mb-2"><em>Oil & Watercolor Painter</em></p>
      <p class="mt-2 mb-2"><a href="https://deerfieldarts.com/melissa-hicks/" target="_blank">Melissa's Website</a></p>
    </div>
  </div>

  <div class="flexbox">
    <img src="/img/headshots/anna_rose_johnson_headshot.jpg" alt="Anna Rose Johnson headshot" width="100" />
    <div>
      <h3 class="mb-0">Anna Rose Johnson</h3>
      <p class="mt-2 mb-2"><em>Author</em></p>
      <p class="mt-2 mb-2"><a href="https://annarosejohnson.com/" target="_blank">Anna Rose's Website</a></p>
    </div>
  </div>

  <div class="flexbox">
    <img src="/img/headshots/matt_litzinger_headshot.jpg" alt="Matt Litzinger headshot" width="100" />
    <div>
      <h3 class="mb-0">Matt Litzinger</h3>
      <p class="mt-2 mb-2"><em>Singer/Songwriter</em></p>
      <p class="mt-2 mb-2"><a href="https://mattlitzingermusic.com" target="_blank">Matt's Website</a></p>
    </div>
  </div>

  <div class="flexbox">
    <img src="/img/headshots/luke_murray_headshot.jpg" alt="Luke Murray headshot" width="100" />
    <div>
      <h3 class="mb-0">Luke Murray</h3>
      <p class="mt-2 mb-2"><em>Illustrator</em></p>
      <p class="mt-2 mb-2"><a href="https://lukemurray.art/" target="_blank">Luke's Website</a></p>
    </div>
  </div>

  <div class="flexbox">
    <img src="/img/headshots/matt_wheeler_headshot.jpg" alt="Matt Wheeler headshot" width="100" />
    <div>
      <h3 class="mb-0">Matt Wheeler</h3>
      <p class="mt-2 mb-2"><em>Singer/Songwriter</em></p>
      <p class="mt-2 mb-2"><a href="http://www.mattwheeleronline.com/" target="_blank">Matt's Website</a></p>
    </div>
  </div>

</div>

<p class="text-lg mt-8 text-center"><strong>Check back soon for more presenters!</strong></p>

