---
layout: layouts/base.njk
eleventyNavigation:
  key: Presenters
  order: 2
---
<h1>2025 Presenters</h1>

<div class="flexbox" style="margin-bottom: 1rem;">
  <img src="/img/headshots/headshot_placeholder_female.jpg" alt="Jessica Claiter headshot" width="100" />
  <div>
    <h3 class="mb-0">Jessica Claiter</h3>
    <p class="mt-2 mb-2"><em>Writer</em></p>
  </div>
</div>

<div class="flexbox" style="margin-bottom: 1rem;">
  <img src="/img/headshots/headshot_placeholder_female.jpg" alt="Melissa Hicks headshot" width="100" />
  <div>
    <h3 class="mb-0">Melissa Hicks</h3>
    <p class="mt-2 mb-2"><em>Oil & Watercolor Painter</em></p>
    <p class="mt-2 mb-2">Melissa's Website: <a href="https://deerfieldarts.com/melissa-hicks/" target="_blank">deerfieldarts.com/melissa-hicks/</a></p>
  </div>
</div>

<div class="flexbox" style="margin-bottom: 1rem;">
  <img src="/img/headshots/matt_litzinger_headshot.jpg" alt="Matt Litzinger headshot" width="100" />
  <div>
    <h3 class="mb-0">Matt Litzinger</h3>
    <p class="mt-2 mb-2"><em>Singer/Songwriter</em></p>
    <p class="mt-2 mb-2">Matt's Website: <a href="https://mattlitzingermusic.com" target="_blank">mattlitzingermusic.com</a></p>
  </div>
</div>

<div class="flexbox" style="margin-bottom: 1rem;">
  <img src="/img/headshots/luke_murray_headshot.jpg" alt="Luke Murray headshot" width="100" />
  <div>
    <h3 class="mb-0">Luke Murray</h3>
    <p class="mt-2 mb-2"><em>Illustrator</em></p>
    <p class="mt-2 mb-2">Luke's Website: <a href="https://lukemurray.art/" target="_blank">lukemurray.art</a></p>
  </div>
</div>

<div class="flexbox" style="margin-bottom: 1rem;">
  <img src="/img/headshots/matt_wheeler_headshot.jpg" alt="Matt Wheeler headshot" width="100" />
  <div>
    <h3 class="mb-0">Matt Wheeler</h3>
    <p class="mt-2 mb-2"><em>Singer/Songwriter</em></p>
    <p class="mt-2 mb-2">Matt's Website: <a href="http://www.mattwheeleronline.com/" target="_blank">mattwheeleronline.com</a></p>
  </div>
</div>

<p class="text-lg mt-8"><strong>Check back soon for more presenters!</strong></p>

